<h1 style="text-align: center;">New Pic</h1><br>

<%= render 'form', pic: @pic %>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-10">
		<%= link_to 'Back', pics_path %>
	</div>
</div>


